{% extends 'base.html' %}

{% block content %}

<h2>All orders for {{order_list.car.client}} </h2>

{% for order in order_list_orders %}
    <p>Order service - {{order.service}}</p>
    <p>Order quantity - {{order.quantity}}</p>
    <p>Order full price - {{order.price}}</p>
    <hr>
{% endfor %}


</br>
  <h4>Comment:</h4>
  {% if order_list.order_list.all %}
    {% for comment in order_list.order_list.all %}
      <hr>
        <img class="rounded-circle account-img" width="5%" src="{{ user.profile.photo.url }}">

      <strong>{{ comment.commenter }}</strong>, <em>{{ comment.date_created}}</em>
      <p>{{ comment.content }}</p>
    {% endfor %}
  {% else %}
    <p>There is no comments on orders.</p>
  {% endif %}



  {% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
          <h4>Leave a comment:</h4>
       <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="comment">Comment</label>
                <input name="comment" type="text" class="form-control" id="comment" aria-describedby="commentHelp">
                <small id="commentHelp" class="form-text text-muted">Maximum symbols 150</small>
            </div>
      <input type="submit" value="Submit">
    </form>
  </div>
  {% endif %}



{% endblock %}